
.myPosts {
    padding: 0 10px 10px;
}
.posts {
    display: flex;
    flex-direction: column-reverse;

}
.newPost {
    margin-top: 10px;
    color: crimson;
}
textarea {
    background-color: #6B6E70;
}
textarea::placeholder {
    color: #474B4F;
}