
.myPosts {
    padding: 10px 10px 10px;
    display: flex;
    flex-direction: column;
}
.myPostsTitle {
    align-self: center;
    margin: 10px 0;
    padding: 10px;
    border: #86C232 3px solid;
    border-radius: 10px;
    transition: background-color 0.2s ease-in;
}
.myPostsTitle:hover{
    cursor: pointer;
    background-color: #86C232;
    color: #2d2e31;
}
.posts {
    display: flex;
    flex-direction: column-reverse;
}
.newPost {
    margin-top: 10px;
    color: crimson;
}
.error {
    margin-left: 5px;
    padding: 3px 20px;
    border: solid red 2px;
    border-radius: 10px;
    font-size: 13px;
}
.form {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
textarea {
    background-color: #c4c3c3;
    border-radius: 10px;
    padding: 10px;
}
textarea::placeholder {
    color: #474B4F;
}