.formControl input, textarea {

}

.formControl.error input,
.formControl.error textarea {
    border: solid red 2px;
}

.formControl.error span {
    color: red;
}
.formSummaryError {
    padding: 5px;
    color: red;
    border: red 1px solid;
}
.form {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form button {
    margin-left: 15px;
    padding: 5px 20px;
    background-color: #889fdb;
    border: solid 1px grey;
    border-radius: 5px;
}
.form button:hover{
    cursor: pointer;
    background-color: #3e6bff;
}