header {
    top: 0;
    height: 60px;
    background-color: gray;
    position: sticky;
    z-index: 999;
    border-bottom: #86C232 5px solid;
}

.header {
    max-width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
}

.headerBlack {
    background-color: #474B4F;
    color: wheat;
}

.menuButton {
    background-color: transparent;
    border: none;
    margin-top: 5px;
    margin-bottom: 0;
    outline: none;
}

.header img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.auth {
    text-align: center;
    border-radius: 10px;
}

.authInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
