.navbar {
    margin: 10px 0 10px 10px;
    padding: 20px;
    grid-area: n;
    background-color: #8aa3fc;
    text-align: center;
    border-radius: 10px;

}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.friends {
    margin-top: 40px;

}
.friendsItems {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;

}
.item a{
    color: white;
    text-decoration: none;
}

.item a.active {
    color: gold;
}
.item {
    border-radius: 10px;
    padding: 5px 10px;
}
.item:hover {
    background-color: rgba(133, 133, 133, 0.3);
}