.back {
    height: 100px;
    width: 100%;
    background-image: url(https://media.npr.org/assets/img/2020/08/27/nasa-goods-real_wide-9168d715c2d4c488d7a0e594b397d7abdd969d9d.png);
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.avatar {
    position: relative;
    display: block;
    border-radius: 10px;
    z-index: 30;
    height: 100%;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 73, 73, 0.8);
}

.photoContainer:nth-child(1):hover img {
    z-index: 0;
    transition: 0.3s all;
}
.photoContainer {
    margin-bottom: 20px;
}

.profileData {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 10px;
}
.profileDataM {
    justify-content: center;
}
.profileDataComp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 10px;
}

.status {

}
.withoutStatus{
    color: #909090;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent;
}
.aboutYourself {
    text-align: center;
    margin-left: 20px;
}
.fullName {
    font-weight: bold;
    margin: 10px;
}
.photoContainer {
    justify-self: flex-start;
    position: relative;
    display: block;
    height: 150px;
    width: 150px;
}
.inputFile {
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_234775.png");
    background-size: contain;
    width: 20px;
}

.inputFile::-webkit-file-upload-button {
    visibility: hidden;
}

.inputFile::before {
    content: none;
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}


.inputFile:active {
    outline: 0;
}

.inputFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.contacts {
    display: flex;
    flex-flow: column;
    margin-left: 20px;
}
.contact {
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}
.contact span {
    margin-right: 10px;
}
.form {
    display: flex;
    flex-direction: column;

}
.formEl {
    margin: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.inputs {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.fields {
    margin-left: 30px;
}
.formButtons {
    display: flex;
    justify-content: center;
}
.formButton{
    margin: 10px;
}
.field {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.fieldEl {
    display: flex;
    flex-flow: row wrap;
    border-radius: 5px;
    padding: 5px;
    border: white 1px solid;

}
.fieldTitle{
    text-align: center;
}
.error {
    border-radius: 5px;
    color: red;
    text-align: center;
    padding: 3px;
    font-size: 15px;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 550;
}
a:hover {
    color: #86C232;
}