
.post {
    color: #EAE7DC;
    background-color: #DAAD86;
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: transparent 1px solid;
    border-radius: 10px;
    padding: 5px;
    transition:  0.3s ease-in 0.1s;
}
.postBlack {
    color: wheat;
    background-color: #2d2d2d;
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column;
    border: transparent 1px solid;
    border-radius: 10px;
    padding: 5px;
    transition:  0.3s ease-in 0.1s;
}
.post:hover {
    background-color: #BC986A;
    border: wheat 1px solid;
}
.postBlack:hover {
    background-color: #424242;
    border: wheat 1px solid;
}
.cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 10px 0;
}

.postMessage {
    margin-left: 40px;
}
.postInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.delete {
    align-self: flex-start;
}
.post hr {
    border:  1px solid;
}