
.post {
    color: #a52a2a;
    background-color: #a1d287;
    margin: 10px 0 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 2px solid #5a5a5a;
    padding: 5px;
}

.cont {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px    ;
}

.postMessage {

}
.postInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin-right: 10px;
}

.like {
    margin: 0 10px 10px 10px;
}

.likeLogo {
    width: 15px;
}
.delete {
    align-self: flex-start;
    margin-left: 15px;
    padding: 5px;
    background-color: #b3b3b3;
    border: solid 1px grey;
    border-radius: 5px;
}