h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
body {
    background-color: #222629;
    box-sizing: border-box;
}

.app-wrapper {
    display: flex;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.app-wrapper-content {
    width: 100%;
    margin: 10px;
    background-color: #FBEEC1;
    border-radius: 10px;
}
.app-wrapper-content-black {
    background-color: #474B4F;
    color: wheat;
}